@import '../comum.css';

.feedback-list {
  list-style: none;
  padding: 0;
}

.feedback-list li {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}
